<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>


<link th:href="@{/static/asserts/css/bootstrap.min.css}" rel="stylesheet"> <!-- 引入导入的 4.0.0 不兼容 ，用他自己的把-->
<link th:href="@{/static/asserts/css/materialdesignicons.min.css}" rel="stylesheet">
<link th:href="@{/static/asserts/css/style.min.css}" rel="stylesheet">

<script type="text/javascript" th:src="@{/static/asserts/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/static/asserts/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/static/asserts/js/perfect-scrollbar.min.js}"></script>
<script type="text/javascript" th:src="@{/static/asserts/js/main.min.js}"></script>

<body>



</body>
</html>