<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
  <title></title>

  <link th:href="@{/asserts/css/bootstrap.min.css}" rel="stylesheet"> <!-- 引入导入的 4.0.0 不兼容 ，用他自己的把-->
  <link th:href="@{/asserts/css/materialdesignicons.min.css}" rel="stylesheet">
  <link th:href="@{/asserts/css/style.min.css}" rel="stylesheet">

  <!--对话框-->
  <link rel="stylesheet" th:href="@{/asserts/js/jconfirm/jquery-confirm.min.css}">

  <!--添加异步 上传 的js  支持加载-->
  <script th:href="@{/plus/AjaxFileUpload/ajaxfileupload.js}"></script>
  <script type="text/javascript" th:src="@{/asserts/js/jquery.min.js}"></script>

  <!--<script type="text/javascript" th:src="@{/webjars/jquery/3.3.1/jquery.js}"></script>-->

  <script type="text/javascript" th:src="@{/asserts/js/bootstrap.min.js}"></script>
  <script type="text/javascript" th:src="@{/asserts/js/perfect-scrollbar.min.js}"></script>
  <script type="text/javascript" th:src="@{/asserts/js/main.min.js}"></script>

  <script type="text/javascript" th:src="@{/plus/zDialog/zDialog.js}"></script>
  <script type="text/javascript" th:src="@{/plus/zDialog/zDrag.js}"></script>


  <!--对话框-->
  <script th:src="@{/asserts/js/jconfirm/jquery-confirm.min.js}"></script>
  <script type="text/javascript" th:src="@{/asserts/js/main.min.js}"></script>
</head>

<style>

  th{
    text-align: center;
  }

  /* 使 复选框居中*/
  .lyear-checkbox span::before{
    position: initial
  }

</style>

<body>
<div class="lyear-layout-web">
  <div class="lyear-layout-container">

    <!--引入左侧导航-->
    <div th:replace="~{commons/bar::leftBar}"></div>

    <!--引入头部信息-->
    <div th:replace="~{commons/bar::headerBar}"></div>

    <!--页面主要内容-->
    <main class="lyear-layout-content">

      <div class="container-fluid">

        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-toolbar clearfix">
                <div class="toolbar-btn-action">
                  <a class="btn btn-primary m-r-5" href="#!" th:href="@{/subway/edit}"><i class="mdi mdi-plus"></i> 新增</a>
                  <a class="btn btn-danger" href="#!" id="delete"><i class="mdi mdi-window-close"></i> 删除</a>

                  <!--<input type="file" id="file" name="file" class="layui-btn" onchange ="uploadFile(this)" ></input>-->

                  <button class="btn btn-info" id="importBtb" data-toggle="modal" data-target="#gridSystemModal"><i class="mdi mdi-window-open"></i> 导入</button>

                  <button class="btn btn-success" id="templateDown"><i class="mdi mdi-window-restore"></i> 下载模板</button>
                </div>
              </div>
              <div class="card-body">

                <div class="table-responsive">
                  <table class="table table-bordered" style="text-align: center">
                    <thead>
                    <tr>
                      <th>
                        <label class="lyear-checkbox checkbox-primary">
                          <input type="checkbox" id="check-all"><span></span>
                        </label>
                      </th>
                      <th>编号</th>
                      <th>检查人姓名</th>
                      <th>检查人电话</th>
                      <th>检查站点</th>
                      <th>备注</th>
                      <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="subway:${pageInfo.list}">
                      <td>
                        <label class="lyear-checkbox checkbox-primary">
                          <input type="checkbox" class="check-row"  th:value="${subway.dataId}" th:id="${subway.dataId}" value="1"><span></span>
                        </label>
                      </td>
                      <td th:text="${subwayStat.index}"></td>
                      <td th:text="${subway.checkName}"></td>
                      <td th:text="${subway.checkPhone}"></td>
                      <td th:text="${subway.checkStation}"></td>
                      <td th:text="${subway.remark}"></td>
                      <td>
                        <div class="btn-group">
                          <a class="btn btn-xs btn-default" href="#!" th:href="@{/subway/edit(dataId=${subway.dataId})}" title="编辑" data-toggle="tooltip"><i class="mdi mdi-pencil"></i></a>
                          <a class="btn btn-xs btn-default" href="#!" th:href="@{/subway/delete(dataId=${subway.dataId})}" title="删除" data-toggle="tooltip"><i class="mdi mdi-window-close"></i></a>
                        </div>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>

                <!--引入分页-->
                <div th:replace="~{commons/page::page}"></div>

              </div>
            </div>
          </div>

        </div>

      </div>

      <!--导入弹窗-->
      <div th:replace="~{commons/import::import}"></div>

    </main>
    <!--End 页面主要内容-->
  </div>
</div>




<script type="text/javascript" th:inline="javascript">

  $(function(){
    $('.search-bar .dropdown-menu a').click(function() {
      var field = $(this).data('field') || '';
      $('#search-field').val(field);
      $('#search-btn').html($(this).text() + ' <span class="caret"></span>');
    });
  });

  //下载模板
  $("#templateDown").on("click",function(){
      var dowUrl = "/subway/subway/templateDownload";
      window.open(dowUrl);
  });

  // 批量删除
  $("#delete").on("click",function(){
    var dataIds = "";

    $(".check-row:checked").each(function(){
      dataIds += $(this).attr("id") + ",";
    });

    if(dataIds != ""){
      dataIds = dataIds.substring(0, dataIds.length - 1);
    }
    if(dataIds != ""){
      var flag = confirm("您确认要删除选中数据吗？");
      if(flag == true){
        window.location.href="/subway/subway/delete?dataId=" + dataIds ;
      }
    }else{
      alert("请您至少选择一条数据!")
    }
  });

  function uploadFile(file){
    //('正在上传，请稍候',{icon: 16,time:false,shade:0.8});

    $.ajaxFileUpload({
      url : '/subway/subway/uploadExcel', //用于文件上传的服务器端请求地址
      secureuri : false, //一般设置为false
      fileElementId : 'file', //文件上传空间的id属性  <input type="file" id="file" name="file" />
      type : 'post',
      dataType : 'text', //返回值类型 一般设置为
      success : function(result){ //服务器成功响应处理函数
        var result = $.parseJSON(result.replace(/<.*?>/ig,""));
        alert(result.msg);
      },
      error : function(result){//服务器响应失败处理函数

      }
    });
    return false;
  }


  // 进入导入页面
  /*$("#importBtb").on("click",function(){

    dialogfillTree = new Dialog({
      Animator: true,
      URL: "/subway/subway/toImportDialog",
      Width: 400,
      Height: 300,
      Title: '导入数据'
    });
    dialogfillTree.CancelEvent =function() {

      dialogfillTree.close();
      //重新加载页面
      window.location.href = "/subway/subway/list";
    };
    dialogfillTree.show();

  });*/

</script>
</body>
</html>