<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
  <title></title>

  <link th:href="@{/asserts/css/bootstrap.min.css}" rel="stylesheet"> <!-- 引入导入的 4.0.0 不兼容 ，用他自己的把-->
  <link th:href="@{/asserts/css/materialdesignicons.min.css}" rel="stylesheet">
  <link th:href="@{/asserts/css/style.min.css}" rel="stylesheet">
</head>

<style>

  th{
    text-align: center;
  }

  /* 使 复选框居中*/
  .lyear-checkbox span::before{
    position: initial
  }

</style>

<body>
<div class="lyear-layout-web">
  <div class="lyear-layout-container">

    <!--引入左侧导航-->
    <div th:replace="~{commons/bar::leftBar}"></div>

    <!--引入头部信息-->
    <div th:replace="~{commons/bar::headerBar}"></div>

    <!--页面主要内容-->
    <main class="lyear-layout-content">

      <div class="container-fluid">

        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-toolbar clearfix">
                <form class="pull-right search-bar" method="get" action="#!" role="form">
                  <div class="input-group">
                    <div class="input-group-btn">
                      <input type="hidden" name="search_field" id="search-field" value="title">
                      <button class="btn btn-default dropdown-toggle" id="search-btn" data-toggle="dropdown" type="button" aria-haspopup="true" aria-expanded="false">
                        标题 <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu">
                        <li> <a tabindex="-1" href="javascript:void(0)" data-field="title">标题</a> </li>
                        <li> <a tabindex="-1" href="javascript:void(0)" data-field="cat_name">栏目</a> </li>
                      </ul>
                    </div>
                    <input type="text" class="form-control" value="" name="keyword" placeholder="请输入名称">
                  </div>
                </form>
                <div class="toolbar-btn-action">
                  <a class="btn btn-primary m-r-5" href="#!"><i class="mdi mdi-plus"></i> 新增</a>
                  <a class="btn btn-danger" href="#!"><i class="mdi mdi-window-close"></i> 删除</a>
                  <a class="btn btn-info" href="#!"><i class="mdi mdi-window-open"></i> 导入</a>
                  <button class="btn btn-success" id="templateDown"><i class="mdi mdi-window-restore"></i> 下载模板</button>
                </div>
              </div>
              <div class="card-body">

                <div class="table-responsive">
                  <table class="table table-bordered" style="text-align: center">
                    <thead>
                    <tr>
                      <th>
                        <label class="lyear-checkbox checkbox-primary">
                          <input type="checkbox" id="check-all"><span></span>
                        </label>
                      </th>
                      <th>编号</th>
                      <th>检查人姓名</th>
                      <th>检查人电话</th>
                      <th>检查站点</th>
                      <th>备注</th>
                      <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="subway:${pageInfo.list}">
                      <td>
                        <label class="lyear-checkbox checkbox-primary">
                          <input type="checkbox" name="ids[]" value="1"><span></span>
                        </label>
                      </td>
                      <td th:text="${subwayStat.index}"></td>
                      <td th:text="${subway.checkName}"></td>
                      <td th:text="${subway.checkPhone}"></td>
                      <td th:text="${subway.checkStation}"></td>
                      <td th:text="${subway.remark}"></td>
                      <td>
                        <div class="btn-group">
                          <a class="btn btn-xs btn-default" href="#!" title="编辑" data-toggle="tooltip"><i class="mdi mdi-pencil"></i></a>
                          <a class="btn btn-xs btn-default" href="#!" title="删除" data-toggle="tooltip"><i class="mdi mdi-window-close"></i></a>
                        </div>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>

                <!--引入分页-->
                <div th:replace="~{commons/page::page}"></div>

              </div>
            </div>
          </div>

        </div>

      </div>

    </main>
    <!--End 页面主要内容-->
  </div>
</div>

<script type="text/javascript" th:src="@{/asserts/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/asserts/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/asserts/js/perfect-scrollbar.min.js}"></script>
<script type="text/javascript" th:src="@{/asserts/js/main.min.js}"></script>
<script type="text/javascript">

  $(function(){
    $('.search-bar .dropdown-menu a').click(function() {
      var field = $(this).data('field') || '';
      $('#search-field').val(field);
      $('#search-btn').html($(this).text() + ' <span class="caret"></span>');
    });
  });

  //下载模板
  $("#templateDown").on("click",function(){
      var dowUrl = "/subway/templateDownload";
      window.open(dowUrl);
  });

</script>
</body>
</html>