<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chaiyc.springboot.mapper.subway.SubwayMapper">

    <select id="getPageSubway" resultType="com.chaiyc.springboot.entities.subway.Subway">
        select * from T_SUBWAY
    </select>

</mapper>