<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chaiyc.springboot.mapper.user.UserMapper">

    <!-- 手动分页头 -->
    <sql id="pageStart">
        select * from (
          select rownum rn_, t.* from (
    </sql>

    <!-- 手动分页尾部 -->
    <sql id="pageEnd">
          ) t
        ) where rn_ &lt;= #{end} and rn_ &gt;= #{start}
    </sql>

    <sql id="whereAll">
        <where>
            <if test="o.id != null and o.id != ''">and id = #{o.id}</if>
            <if test="o.ywbs != null and o.ywbs != ''">and ywbs = #{o.ywbs}</if>
            <if test="unique != null and unique">and rownum = 1</if>
        </where>
    </sql>

    <sql id="order">
      order by id
    </sql>

    <!--用户登陆-->
    <select id="login" resultType="com.chaiyc.springboot.entities.user.User">
        SELECT * FROM T_USER WHERE login_Account=#{username} and login_Password=#{password}
    </select>

    <!-- 通过用户id 查找用户
    <select id="getUserById" resultType="com.chaiyc.springboot.entities.user.User">
        SELECT * FROM T_USER WHERE user_acct_id=#{userAcctId}
    </select>
    -->

    <!--分页查询-->
    <select id="getPageUser" resultType="com.chaiyc.springboot.entities.user.User">
        SELECT * FROM T_USER order by create_Time desc
    </select>

    <!--查询首页数据-->
    <select id="CountMainInfo" resultType="map">
        select * from(
            (select count(*) as userTotal from t_user) as us,
            (select count(*) as subwayTotal from t_subway) as sub,
            (select count(*) as todayNum from t_subway
                where createTime like '%${currentDate}%'
            ) as today
        ) where  1=1
    </select>

    <insert id="saveUser" parameterType="com.chaiyc.springboot.entities.user.User">
        insert into T_USER (user_Name,user_Sex, user_Birthday,user_Identity_Code,user_Address,
                    user_Tele, user_Email, login_Account, login_Password, user_State, create_Time )
            values ( #{userName}, #{userSex}, #{userBirthday}, #{userIdentityCode}, #{userAddress},
                #{userTele}, #{userEmail}, #{loginAccount}, #{loginPassword}, #{userState},
                #{createTime} )
    </insert>

    <update id="updateUser" parameterType="com.chaiyc.springboot.entities.user.User">
        update T_USER set user_Name=#{userName},user_Sex=#{userSex},
                user_Birthday=#{userBirthday},user_Identity_Code=#{userIdentityCode},user_Address=#{userAddress},
                user_Tele=#{userTele},user_Email= #{userEmail},login_Account=#{loginAccount},
                login_Password=#{loginPassword},user_State=#{userState},create_Time=#{createTime}
                where USER_ACCT_ID=#{userAcctId}
    </update>

</mapper>