<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chaiyc.springboot.entities.User">

    <!--用户登陆-->
    <select id="login" resultType="com.chaiyc.springboot.entities.User">
        SELECT * FROM T_USER WHERE login_Account=#{username} and login_Password=#{password}
    </select>

    <select id="getUserById" resultType="com.chaiyc.springboot.entities.User">
        SELECT * FROM T_USER WHERE user_acct_id=#{userAcctId}
    </select>



</mapper>