<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
<title></title>

<link th:href="@{/asserts/css/bootstrap.min.css}" rel="stylesheet"> <!-- 引入导入的 4.0.0 不兼容 ，用他自己的把-->
<link th:href="@{/asserts/css/materialdesignicons.min.css}" rel="stylesheet">
<link th:href="@{/asserts/css/style.min.css}" rel="stylesheet">
</head>


<style>

  th{
    text-align: center;
  }

  /* 使 复选框居中*/
  .lyear-checkbox span::before{
    position: initial
  }

</style>
  
<body>
<div class="lyear-layout-web">
  <div class="lyear-layout-container">

    <!--引入左侧导航-->
    <div th:replace="~{commons/bar::leftBar}"></div>

    <!--引入头部信息-->
    <div th:replace="~{commons/bar::headerBar}"></div>

    <!--页面主要内容-->
    <main class="lyear-layout-content">
      
      <div class="container-fluid">
        
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-toolbar clearfix">
                <div class="toolbar-btn-action">
                  <a class="btn btn-primary m-r-5" href="#" th:href="@{/user/edit}"><i class="mdi mdi-plus"></i> 新增</a>
                  <!--<a class="btn btn-success m-r-5" href="#!"><i class="mdi mdi-check"></i> 启用</a>
                  <a class="btn btn-warning m-r-5" href="#!"><i class="mdi mdi-block-helper"></i> 禁用</a>-->
                  <a class="btn btn-danger" href="#" id="delete"><i class="mdi mdi-window-close"></i> 删除</a>
                </div>
              </div>
              <div class="card-body">
                
                <div class="table-responsive">
                  <table class="table table-bordered" style="text-align: center">
                    <thead>
                      <tr>
                        <th>
                          <label class="lyear-checkbox checkbox-primary">
                            <input type="checkbox" id="check-all"><span></span>
                          </label>
                        </th>
                        <th>编号</th>
                        <th>姓名</th>
                        <th>登陆账户</th>
                        <th>性别</th>
                        <th>家庭地址</th>
                        <th>联系电话</th>
                        <th>邮箱</th>
                        <th>操作</th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr th:each="user:${pageInfo.list}">
                          <td>
                            <label class="lyear-checkbox checkbox-primary">
                              <input type="checkbox" class="check-row"  th:value="${user.userAcctId}" th:id="${user.userAcctId}" value="1"><span></span>
                            </label>
                          </td>
                          <td th:text="${userStat.index}"></td>
                          <td th:text="${user.userName}"></td>
                          <td th:text="${user.loginAccount}"></td>
                         <!-- <td th:text="${user.userSex} == 0 ? '女' : '男'"></td>-->
                          <td th:if="${user.userSex} == 0" th:text="女"></td>
                          <td th:if="${user.userSex} == 1" th:text="男"></td>
                          <td th:if="${user.userSex} == 2" th:text="未知"></td>
                          <td th:text="${user.userAddress}"></td>
                          <td th:text="${user.userTele}"></td>
                          <td th:text="${user.userEmail}"></td>
                          <td>
                            <div class="btn-group">
                              <a class="btn btn-xs btn-default" href="#!" th:href="@{/user/edit(dataId=${user.userAcctId})}" title="编辑" data-toggle="tooltip"><i class="mdi mdi-pencil"></i></a>
                              <a class="btn btn-xs btn-default" href="#!" th:onclick="deleteFun([[${user.userAcctId}]])" title="删除" data-toggle="tooltip"><i class="mdi mdi-window-close"></i></a>
                            </div>

                          </td>
                        </tr>
                    </tbody>
                  </table>
                </div>

                <!--引入分页-->
                <div th:replace="~{commons/page::page}"></div>

              </div>
            </div>
          </div>
          
        </div>
        
      </div>
      
    </main>
    <!--End 页面主要内容-->
  </div>
</div>

<script type="text/javascript" th:src="@{/asserts/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/asserts/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/asserts/js/perfect-scrollbar.min.js}"></script>
<script type="text/javascript" th:src="@{/asserts/js/main.min.js}"></script>
<script type="text/javascript" th:inline="javascript">
  $(function(){
      $('.search-bar .dropdown-menu a').click(function() {
          var field = $(this).data('field') || '';
          $('#search-field').val(field);
          $('#search-btn').html($(this).text() + ' <span class="caret"></span>');
      });
  });

  // 单条删除
  function deleteFun(dataId){
    var flag = confirm("您确认要删除吗？");
    if(flag == true){
      window.location.href="/subway/user/delete?dataId=" + dataId ;
    }
  }



  // 批量删除
  $("#delete").on("click",function(){
    var dataIds = "";

   $(".check-row:checked").each(function(){
      dataIds += $(this).attr("id") + ",";
    });

    if(dataIds != ""){
      dataIds = dataIds.substring(0, dataIds.length - 1);
    }
    if(dataIds != ""){
      var flag = confirm("您确认要删除选中数据吗？");
      if(flag == true){
        window.location.href="/subway/user/delete?dataId=" + dataIds ;
      }
    }else{
      alert("请您至少选择一条数据!")
    }
  });
</script>

</body>
</html>