<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
  <title></title>

  <link th:href="@{/asserts/css/bootstrap.min.css}" rel="stylesheet"> <!-- 引入导入的 4.0.0 不兼容 ，用他自己的把-->
  <link th:href="@{/asserts/css/materialdesignicons.min.css}" rel="stylesheet">
  <link th:href="@{/asserts/css/style.min.css}" rel="stylesheet">
</head>
  
<body>
<div class="lyear-layout-web">
  <div class="lyear-layout-container">

    <!--引入左侧导航-->
    <div th:replace="~{commons/bar::leftBar}"></div>

    <!--引入头部信息-->
    <div th:replace="~{commons/bar::headerBar}"></div>

    <!--页面主要内容-->
    <main class="lyear-layout-content">
      
      <div class="container-fluid">
        
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-body">
                
                <form action="" th:action="@{/user/save}" method="post" class="row">

                  <input type="hidden" name="userAcctId" th:if="${user!=null}" th:value="${user.userAcctId}">

                  <div class="form-group col-md-12">
                    <label for="loginAccount">用户账号</label>
                    <input type="text" class="form-control" id="loginAccount" name="loginAccount" th:value="${user!=null}?${user.loginAccount}" value="" placeholder="请输入用户账号" required/>
                  </div>
                  <div class="form-group col-md-12">
                    <label for="userName">用户姓名</label>
                    <input type="text" class="form-control" id="userName" name="userName" value="" th:value="${user!=null}?${user.userName}" placeholder="请输入用户姓名" required/>
                  </div>
                  <div class="form-group col-md-12">
                    <label>性别</label>
                    <div class="clearfix">
                      <label class="lyear-radio radio-inline radio-primary">
                        <input type="radio" name="userSex" value="1" checked th:checked="${user!=null}?${user.userSex=='1'}" required><span>男</span>
                      </label>
                      <label class="lyear-radio radio-inline radio-primary">
                        <input type="radio" name="userSex" value="0" th:checked="${user!=null}?${user.userSex=='0'}" required><span>女</span>
                      </label>
                      <label class="lyear-radio radio-inline radio-primary">
                        <input type="radio" name="userSex" value="2" th:checked="${user!=null}?${user.userSex=='2'}" required><span>未知</span>
                      </label>
                    </div>
                  </div>
                  <div class="form-group col-md-12">
                    <label for="userTele">联系电话</label>
                    <input type="text" class="form-control" id="userTele" name="userTele" th:value="${user!=null}?${user.userTele}" value="" placeholder="请输入联系电话" required/>
                  </div>
                  <div class="form-group col-md-12">
                    <label for="userEmail">邮箱</label>
                    <input type="text" class="form-control" id="userEmail" name="userEmail" th:value="${user!=null}?${user.userEmail}" value="" placeholder="请输入邮箱" />
                  </div>

                  <div class="form-group col-md-12">
                    <button type="submit" class="btn btn-primary ajax-post" target-form="add-form">确 定</button>
                    <button type="button" class="btn btn-default" onclick="javascript:history.back(-1);return false;">返 回</button>
                  </div>

                  <!--隐藏字段-->
                  <input type="hidden" name="loginPassword" th:if="${user!=null}" th:value="${user.loginPassword}">
                  <input type="hidden" name="userBirthday" th:if="${user!=null}" th:value="${user.userBirthday}">
                  <input type="hidden" name="userIdentityCode" th:if="${user!=null}" th:value="${user.userIdentityCode}">
                  <input type="hidden" name="userAddress" th:if="${user!=null}" th:value="${user.userAddress}">
                  <input type="hidden" name="userState" th:if="${user!=null}" th:value="${user.userState}">
                  <input type="hidden" name="createTime" th:if="${user!=null}" th:value="${user.createTime}">

                </form>
       
              </div>
            </div>
          </div>
          
        </div>
        
      </div>
      
    </main>
    <!--End 页面主要内容-->
  </div>
</div>

<script type="text/javascript" th:src="@{/asserts/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/asserts/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/asserts/js/perfect-scrollbar.min.js}"></script>
<script type="text/javascript" th:src="@{/asserts/js/main.min.js}"></script>

<!--标签插件-->
<script src="js/jquery-tags-input/jquery.tagsinput.min.js" th:src="@{/asserts/js/jquery-tags-input/jquery.tagsinput.min.j}"></script>
<script type="text/javascript" src="js/main.min.js" th:src="@{/asserts/js/main.min.js}"></script>
</body>
</html>